
<h1 class="heading pull-left col-md-12">
    <div class="pull-left">Header Parser Microservice</div>
    <div class="pull-right"><image src="public/logo.svg"></image></div>
</h1>
<div class="container">

    <div class="col-md-12 col-center"></div>
    <p class="user-object text-center"><g>{</g><r>"language"</r>: {{language}},  <r>"os"</r>: {{os}}, <r>"ip"</r>: {{ip}}<g>}</g></p>
</div>

